.botborder{
    width: 100px;
    height: 4px;
    border-radius: 20px;
    background-color: var(--color1);
    display: block;
    margin-bottom: 10px;
}

.italicFont{
    color:grey;
        font-size:16px;
        font-style:italic;
        font-weight:100;
}

.abouth1{
    font-size: 50px !important;
}

@media screen and (max-width:650px){
    .abouth1{
        font-size: 25px !important;
    }
    
}
.acdbannerabout{

    height: 400px;
    width: 100%;
}
.normalText{
    color: grey;
    font-size: 13px;
    font-weight: 500;
    line-height: 200%;
    text-align: justify;
}

.acadmain1{
    position: absolute;
    bottom: 10%;
    left: 5%;
    padding: 35px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
max-width: 50%;
    h1{
        font-size: 20px;
        color: var(--color1);
    }
    h2{
        font-size: 30px;
        color: var(--secoundryblue);
        font-weight: 700;
    }
    .mainP{
        font-size: 12px;
    color: var(--darkgrey);
    font-weight: 500;
    text-align: justify;
    margin-top: 20px;
    line-height: 200%;
    }
}



.imgcard:hover{
    box-shadow: -11px 20px 10px rgb(207, 206, 206);
    transition: .8s ease;
    transform: rotateZ(10deg);
}

.imgcard{
    max-width: 300px;
    height: 400px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    transition: .5s ease;
    img{
        width: 100%;
        height: 100%;
    }
    i{
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 2px 5px 0px;
        border-radius: 50%;
        background: #fff;
        color: var(--color1);
      
        width: fit-content;
    }
    .imgcontent{
        position: absolute;
        bottom: 0;
        padding: 10px;
        left: 10px;
        h5{
            font-size: var(--largeFont);
            font-weight: 600;
            color: #fff;
        }
    }
}
