.toast{
   border-radius: 24px;
    position: absolute;
    top: -20%;
    z-index: 1000;
    transform: scale3d(0, 0, 0);
   animation: toasteffect2 .5s ease;
}

.toast.show{
    position:fixed;
    display: block;
    top:15%;
    z-index: 1000;
    transform: scale3d(1,1,1);
    animation: toasteffect .5s ease ;
}
.toast-header{
    border-radius: 22px;
}

.wrongimg{
    animation: wrongeff 2s ease infinite;
}

@keyframes wrongeff {
    from{
        transform: scale3d(0,0,0);
    }
    to{
        transform:scale3d(1,1,1);
}
}
 
@media screen and (max-width:370px) {
    .toast.show{
       width:90%
    }
    
}
/*
@media screen and (max-width:640px) {
    .toast.show{
        left: 15%;
    }
    
} */

@keyframes toasteffect {
    from{
        top:-20%;
        transform:scale3d(0,0,0)
    }
    to{
        top:15%;
        transform: scale3d(1,1,1);
    }
}

@keyframes toasteffect2 {
    to{
        top:-20%;
        transform:scale3d(0,0,0)
    }
    from{
        top:15%;
        transform: scale3d(1,1,1);
    }
}