.loginicon{
    position: relative;

    .icc{
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 14px;
        color: rgb(161, 159, 159);
    }
    .eyeicon{
        position: absolute;
        right: 15%;
       top:8px;
        cursor: pointer;
    }
}

.acdbannerlogin{
    width: 100%;
    max-height: 500px;
}

.acadmain1{
    position: absolute;
    left: 10%;
    bottom: 10%;
    h1{
        color: #fff;

    }
    p{
        color: var(--color1);
    }
}