


body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


body::-webkit-scrollbar-track
{
    display: none;
   
}

body::-webkit-scrollbar
{
    display: none;
 
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #e0dbdb;
}

:root{
    /* text */
    --heading-size:18px;
    --largeFont:25px;
    --mediumFont:18px;
    --normalFont:14px;
    --smallFont:11px;
    --lineheight:200%;
    /* colors */


    --color1:#ffa500;
    --primaryorange:#ffa500;
    --secoundryorange:#f8a813;
    --lightorange:#fffbf6;
    --orangebackground:#ffa9005e;
    --orangebackground2:#ffa9009e;
    --primaryyellow:#f5f60d;
    --secoundryblue:#0b1a46;
    --primarygrey:#f5f5f5;
    --secoundrygrey:#e5e5e5;
    --darkgrey:#6b6464;
    --primaryblue:#1037d4;
    --black:#111111;
    --multigradient:linear-gradient(270deg, #C7E4CC 14.58%, #FFCD1D 54.69%, #FB8B08 100%);
    --orangegreengradient:linear-gradient(270deg, #C7E4CC 14.58%, #FFCD1D 54.69%, #FB8B08 100%);
    --lightbluegradient:linear-gradient(89.52deg, #BCD5F7 0%, #91ABF6 71.35%, #BCDAFA 100%);
    --orangegradient:linear-gradient(270deg, #FFA654 14.58%, #E39D6A 54.69%, #B2778B 100%);
    --greygradient:linear-gradient(180deg, #0000000D 0%, #02010100 100%);

}

a{
    text-decoration: none;
}
.centerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading1{
    background: var(--orangegreengradient);
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.heading2{
    color:  var(--secoundryblue);
    font-weight: 700;
    text-align: center;
    font-size: 23px;
}



.ptext{
    text-align: center;
    font-size: 13px;
    width: 70%;
    margin-top: 20px;
    color: grey;
    font-weight: 500;
}

.card{
    border-radius: 30px;
    margin: 1%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    img{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        width: 100%;
        height: 292px;
    }
    h6{
        font-weight: 600;
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
    }
}

.button{
    border:none;
    background:var(--secoundryorange);
    color: var(--black);
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
}

.button:hover,.button:focus,.button:active{
    background: #0b1a46;
    color: #fff;
}

.button3{
    border:none;
    background:var(--secoundryblue);
    color: aliceblue;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    margin-top: 20px;
}

.button3:hover{
    background:var(--color1);
}
@media screen and (max-width:650px) {
    .heading1{
        font-size: 20px;
    }
    .heading2{
        font-size: 20px;
    }
    .ptext{
        width: 90%;
    }
}


/* Academy main page style */

.pstyle{
    font-size: 13px;
    color: var(--darkgrey);
    font-weight: 500;
    text-align: center;
}

.littletext{
    font-size: 11px;
    text-align: center;
    font-weight: 500;
    color: grey;
}

/* .form-control:active,.form-control:focus{
    box-shadow: none;
    } */

.inputStyle{
    width: 200px;
    border-radius: 15px;
    border-color: #0b1a46;
    font-size: 14px;
}

.buttonstyle{
    background-color: var(--color1);
    border-color: var(--color1);
}

.buttonstyle:hover{
    background-color: var(--secoundryblue) !important;
    border-color: var(--secoundryblue) !important;
}

.button:active,.button:focus{
    background-color: var(--secoundryblue);
    border-color: var(--secoundryblue);
}

.card5{
    width: 16rem;
    border-radius: 20px;
.card5img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
    .card-body{
        border: 1px solid rgb(218, 217, 217);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        h3{
            font-size: 14px;
            background: #e0dbdb;
            padding: 10px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--secoundryblue);
        }
        div{
            padding: 10px;
            h6{
                font-size: 12px;
                color: grey;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                span{
                padding-right: 4px;
                }
            }
            h5{
                font-size: 13px;
                padding: 5px;
                /* display: flex; */
                /* align-items: center; */
                i{
                    color: var(--color1);
                    font-size: 20px;
                }
            }
            p{
                font-size: 9px;
                font-weight: 500;
                padding-left: 14px;
                margin-bottom: 0;
                span{
                    font-size: 14px;
                    color: var(--color1);
                    font-weight: 600;
                    padding-left: 5px;
                }
            }
            button{
                font-size: 12px;
                margin-bottom: 20px;
                display: flex;
                i{
                    padding-left: 5px;
                }
            }
            
            h4{
                font-size: 13px;
                color: grey;
                margin-bottom: 15px;
                span{
                    color: var(--secoundryblue);
                    font-weight: 700;
                }
            }
        }
    }
}

.button.beff:hover{
    .bi-arrow-right{
        transform: translateX(5px);
    }
}


button:disabled,button:disabled:hover{
    background-color: rgb(225, 224, 224);
    color: #0b1a46;
    opacity: .3;
}

.inputbox{
    border:1px solid rgba(199, 198, 198, 0.815);
    padding: 10px 40px 10px 35px;
    border-radius: 20px;
    width: 90%;
    margin-bottom: 30px;
}

.inputbox:focus{
   outline: none;
   
}

.inputbox::selection{
    border-color: #de7914;
}

.loginCard{
   background:#fff;
   border-radius:20px;
   padding:20px;
   position:relative;
   box-shadow: 0 0 10px rgb(214, 213, 213);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width:650px){
    .acdbanner{
        height: 30%;
    }
}
