.hdlogo{
    position: relative;
    margin-left: 30px;
    img{
        width: 70px;
        padding: 5px 0;
    }
}
#navbarhead{
    z-index: 2;
    width: 100%;
    background-color: #fff !important;
}

#navbarSupportedContent{
    justify-content: center;
    li{
        padding: 0 10px;
    a{
            font-size: .9rem;
            font-weight: 500; 
            color: rgb(19, 19, 19);
         }
    }
    
}
.searchInput{
    display: flex;
    position: relative;
    i{
        font-size: 1rem;
        padding: 3% 6%;
        background: var(--primarygrey);
        border-radius: 30px;
        position: relative;
        left: 18px;
    }
    .input{
        border-radius: 0px 30px 30px 0px;
        box-shadow: none;
        border: none;
        background: var(--primarygrey);
        padding: 8px 5px 9px 25px;
        font-size: .9rem;
        font-weight: 500;
        width: 99%;
    }
    .input:focus,.input:active,.input:hover{
        border: none;
        box-shadow: none;
        outline: none;
        background-color: var(--secoundrygrey);
    }
}

.note{
    font-size: 10px;
    padding: 10px 20px;
    color: rgb(16, 16, 16);
    background: var(--primarygrey);
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    p{
        font-size: .7rem;
        margin: 0;
    }
    span{
        margin-left: auto;
        margin-right: 40px;
        a{
            font-size: .7rem;
            color: black;
            font-weight: 500;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.headIcon{
    font-size: 1.1rem;
    padding:1% 1.5%;
    border-radius: 30px;
}
.headIcon:hover{
    background-color: var(--secoundrygrey);
}

.searchoverlay{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 400px;
    background: #ffffff;
    padding: 30px;
    display: none;
    top:-58%;
    transition: .8s ease;
    left: 0;
}
.searchoverlay.showSearchtab{
    display: block;
    animation: searchTabEff .5s ease ;
    transition: .5s ease;
}
.overlayhome{
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.112);
    position: absolute;
    display: none;
    overflow: hidden;
}
@keyframes searchTabEff {
    from{
        left: 100%;
        
    }
    to{
        left: 0%;
    }
}
.searchoverlaynav{
display: flex;
flex-wrap: wrap;
align-items: center;
img{
    width: 85px;
    z-index: 3;
    position: relative;
}
.cancel{
    font-weight: 600;
    cursor: pointer;
    margin-left: 10%;
}
}

.overlayhome.searchbodyhide{
    display: block;
    background-color: #0000006e;
    z-index: 1;
}
.searchInput2{
    width: 50%;
    margin-left: 15%;
    display: flex;
    position: relative;
}

.Ssuggestions{
    padding-left: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    h6{
        font-size: 15px;
        font-weight: 500;
        color: grey;
        margin-bottom: 20px;
    }
    span{
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
        a{
            color: black;
        }
    }
}

.searchicon{
    font-size: 1rem;
        padding: 2.5% 3.8%;
        background: var(--primarygrey);
        border-radius: 30px;
        position: relative;
        left: 20px;
}

.searchinputbox{
    border-radius: 0px 30px 30px 0px;
    box-shadow: none;
    border: none;
    background: var(--primarygrey);
    padding: 8px 5px 9px 25px;
    font-size: .9rem;
    font-weight: 500;
    width: 99%;

}
.searchinputbox{
    border-radius: 0px 30px 30px 0px;
    box-shadow: none;
    border: none;
    background: var(--primarygrey);
    padding: 8px 5px 9px 25px;
    font-size: .9rem;
    font-weight: 500;
    width: 99%;
}
.searchinputbox:focus,.searchinputbox:active,.searchinputbox:hover{
    border: none;
    box-shadow: none;
    outline: none;
    background-color: var(--secoundrygrey);
}

.offcandiv1{
    padding: 10px;
    margin-top: 10%;
    a{
        color: inherit;
    }
    ul{
        padding-left: 0;
        list-style: none;
        li{
            padding: 10px;
            font-size: 25px;
            list-style: none;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;
            i{
                font-size: 20px;
            }
        }
    }
}

.offcantag{
    font-size: 16px;
    color: var(--darkgrey);
    line-height: 200%;
    margin-top: 10%;
}

.offcanbutt{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 10%;

    span:nth-child(1){
        padding: 10px 20px;
        font-size: var(--mediumFont);
        background: var(--color1);
        border-radius: 25px;
        font-weight: 500;
        color: #fff;
    }
    span:nth-child(2){
        padding: 10px 20px;
        font-size: var(--mediumFont);
        background: #fff;
        border-radius: 25px;
        font-weight: 500;
        color: #000000;
        border: 1px solid;
        border-color: var(--secoundrygrey);
    }
}

@media screen and (max-width:650px){

    .note{
        display: none;
    }

    .hdlogo{
        margin-left: 0;
    }
}